# Solution 1: Data Analyst Job position in Bangalore location

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"‪C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [6]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [7]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [8]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
location=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    loc=i.text
    job_location.append(loc)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    com=i.text
    company_name.append(com)
    
    
Exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in Exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
df = pd.DataFrame({'title':job_title,'loc':job_location,'com':company_name,'exp':experience_required})
df

,title,loc,com,exp
0,Data Analyst,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Siemens,4-6 Yrs
8,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs

In [4]:
driver.close()

# Solution 2: Data Scientist Job position in Bangalore location

In [23]:
driver = webdriver.Chrome(r"‪C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe")

In [24]:
driver.get("https://www.naukri.com/")

In [45]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [46]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [47]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [48]:
Job_title =[]
Job_location=[]
Company_name=[]

In [19]:

title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    Job_title.append(title)
    
    
location_title = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_title[0:10]:
    loc_title = i.text
    Job_location.append(loc_title)
    
    
Company_title = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Company_title[0:10]:
    Com_title = i.text
    Company_name.append(Com_title)

In [20]:
print(len('Job_title'),len('Job_location'),len('Company_name'))

9 12 12

In [26]:
df = pd.DataFrame({'title':Job_title,'loc_title':Job_location,'Com_title':Company_name})
df

,title,loc_title,Com_title
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Science Analyst,Bangalore/Bengaluru,Accenture
4,Data Scientist,Bangalore/Bengaluru,IBM
5,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
6,Data Science Analyst - Data Science,Bangalore/Bengaluru,Accenture
7,Data Science Analyst Data Science,Bangalore/Bengaluru,Accenture
8,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,Accenture
9,Senior Data Scientist,Bangalore/Bengaluru,Walmart

In [ ]:
driver.close()

# Solution 3: Scrape data using the filters available on the webpage

In [54]:
driver = webdriver.Chrome(r"‪C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe")

In [55]:
driver.get("https://www.naukri.com/")

In [56]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [57]:
Location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
Location.send_keys('Delhi/NCR')

In [58]:
Serch = driver.find_element(By.CLASS_NAME,'qsbSubmit')
Serch.click()

In [59]:
Job_title = []
Job_location = []
Company_name = []
Experience_required = []

In [60]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title = i.text
    Job_title.append(job_title)
    
Location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in Location_tags[0:10]:
    Job_Location = i.text
    Job_location.append(Job_Location)
    
Company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Company_tags[0:10]:
    Company_Name = i.text
    Company_name.append(Company_Name)
    
Exp_Req = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in Exp_Req[0:10]:
    Experience_Required = i.text
    Experience_required.append(Experience_Required)

In [61]:
print(len('Job_title'),len('Job_location'),len('Company_name'),len('Experience_required'))

9 12 12 19

In [66]:
df = pd.DataFrame()
df['Job_title'] = Job_title
df['Job_location'] = Job_Location
df['Company_name'] = Company_Name
df['Experience_required'] = Experience_Required
df

,Job_title,Job_location,Company_name,Experience_required
0,Data Scientist_NLP,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
1,Machine Learning (AI) Architect,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
2,Opportunity | Data Scientist | Tavant India,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
3,Sr. Data Scientist - Python / ML / DL,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
4,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
6,Data Scientist,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
7,Data Scientist- Python/ML/DL,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
8,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs
9,Data Scientist with Retail Domain,"Delhi / NCR, Kolkata, Mumbai, Nagpur, Hyderaba...",TRH Consultancy Services,4-9 Yrs

In [ ]:
driver.close()

# Solution 4: Scrape data of first 100 sunglasses listings on flipkart.com

In [74]:
driver = webdriver.Chrome(r'‪C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe')

In [75]:
driver.get('http://www.flipkart.com/')

In [76]:
Sunglasses = driver.find_element(By.CLASS_NAME,'_3704LK')
Sunglasses.send_keys('sunglasses')

In [78]:
Serch = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
Serch.click()

In [79]:
Model_title = []
Brand_title = []
MRP_title =  []
Discount_title = []

In [80]:
start = 0
end = 3
for page in range(start,end):
    Model_Name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Model_Name:
        Model = i.text
        Model_title.append(Model)
    Next_Button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Button.click()
    time.sleep(3)
    
start = 0
end = 3
for page in range(start,end):
    Brand_Name = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Brand_Name:
        Brand = i.text
        Brand_title.append(Brand)
    Next_Button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Button.click()
    time.sleep(3)

    
start = 0
end = 3
for page in range(start,end):
    MRP = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in MRP:
        MRP_Rs = i.text
        MRP_title.append(MRP_Rs)
    Next_Button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Button.click()
    time.sleep(3)
    
start = 0
end = 3
for page in range(start,end):
    Discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount:
        discount = i.text
        Discount_title.append(discount)
    Next_Button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Button.click()
    time.sleep(3)

In [81]:
print(len('Model_title'),len('Brand_title'),len('MRP_title'),len('Discount_title'))

11 11 9 14

In [83]:
df = pd.DataFrame()
df['Model']=Model_title[:100]
df['Brand']=Brand_title[:100]
df['MRP']=MRP_title[:100]
df['Discount']=Discount_title[:100]
df

,Model,Brand,MRP,Discount
0,VINCENT CHASE,UV Protection Aviator Sunglasses (Free Size),₹849,47% off
1,VINCENT CHASE,UV Protection Oval Sunglasses (60),₹965,18% off
2,PIRASO,"Gradient, UV Protection Retro Square Sunglasse...",₹224,45% off
3,PIRASO,UV Protection Wayfarer Sunglasses (59),₹268,74% off
4,TamTam,UV Protection Wayfarer Sunglasses (32),₹181,86% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Wayfarer Sunglasses (56),₹685,51% off
96,PIRASO,"by Lenskart Polarized, UV Protection Wayfarer ...",₹174,45% off
97,Fastrack,"UV Protection, Mirrored Wayfarer Sunglasses (57)",₹599,80% off
98,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹489,86% off
99,VINCENT CHASE,UV Protection Wayfarer Sunglasses (Free Size),₹499,57% off

In [86]:
driver.close()

# Solution 5: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [89]:
driver = webdriver.Chrome(r'C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe')

In [90]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [40]:
Ratings = []
Review = []
Full_Review = []

In [41]:
start = 0
end = 10
for page in range(start,end):
    Rating_title = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in Rating_title:
        rating = i.text
        Ratings.append(rating)
    Next_Button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Button.click()
    time.sleep(3)
    
start = 0
end = 10
for page in range(start,end):
    Review_title = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in Review_title:
        review = i.text
        Review.append(review)
    Next_Button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Button.click()
    time.sleep(3)

    
start = 0
end = 10
for page in range(start,end):
    Full_review_title = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in Full_review_title:
        ful_review = i.text
        Full_Review.append(ful_review)
    Next_Button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Button.click()
    time.sleep(3)

In [42]:
print(len('Ratings'),len('Review'),len('Full_Review'))

7 6 11

In [44]:
df = pd.DataFrame()
df['Ratings'] =Ratings
df['Review']=Review
df['Full_Review']=Full_Review
df.head(10)

,Ratings,Review,Full_Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
7,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,5,Highly recommended,What a camera .....just awesome ..you can feel...
9,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [91]:
driver.close()

# Solution 6: Scrape data for first 100 sneakers you find when you visit flipkart.com

In [2]:
driver = webdriver.Chrome(r'C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('http://www.flipkart.com/')

In [4]:
Sneakers = driver.find_element(By.CLASS_NAME,'_3704LK')
Sneakers.send_keys('sneakers')

In [5]:
Serch = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
Serch.click()

In [6]:
Brand=[]
Product_Description=[]
Price=[]

In [9]:
start = 0
end = 3
for page in range(start,end):
    Brand_title = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_title:
        brand = i.text
        Brand.append(brand)
    Next_Butn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Butn.click()
    time.sleep(3)
    
start = 0
end = 3 
for page in range(start,end):
    Prod_Desc_title = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Prod_Desc_title:
        product_description = i.text
        Product_Description.append(product_description)
    Next_Butn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Butn.click()
    time.sleep(3)
    
start = 0
end = 3
for page in range(start,end):
    price_title = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_title:
        price = i.text
        Price.append(price)
    Next_Butn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    Next_Butn.click()
    time.sleep(3)

In [10]:
print(len('Brand'),len('Product_Description'),len('Price'))

5 19 5

In [14]:
df = pd.DataFrame()
df['Brand']=Brand[:100]
df['Product_Description']=Product_Description[:100]
df['Price']=Price[:100]
df.head(5)

,Brand,Product_Description,Price
0,World Wear Footwear,"Trendy Stylish Comfortable & Lightweight, Casu...",₹399
1,RapidBox,Sneakers For Men,₹449
2,aadi,Sneakers For Men,₹269
3,BIRDE,Combo Pack of 2 Sports Shoes Sneakers For Men,₹449
4,Kraasa,"Thunder-01 White Color Change Sneakers,Casuals...",₹449

In [ ]:
driver.close()

# Solution 7: Laptop i7 details

In [50]:
driver = webdriver.Chrome(r'C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe')

In [51]:
driver.get('https://www.amazon.in/')

In [52]:
Input_laptop = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Input_laptop.send_keys('Laptop')

In [53]:
search = driver.find_element(By.CLASS_NAME,'nav-right')
search.click()

In [54]:
cpu = driver.find_element(By.ID,'p_n_feature_thirteen_browse-bin/12598163031')
cpu.click()

In [37]:
Title = []
Ratings = []
Price = []

In [56]:
Title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in Title_tags:
    title = i.text
    Title.append(title)
    
Rating_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in Rating_tags:
    rating = i.text
    Ratings.append(rating)
    
Price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Price_tags:
    price = i.text
    Price.append(price)

In [57]:
print(len('Title'),len('Ratings'),len('Price'))

5 7 5

In [58]:
df = pd.DataFrame()
df['Title']= Title[:10]
df['Ratings']=Ratings[:10]
df['Price']=Price[:10]
df

                                               Title Ratings   Price
0  Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...      70  41,635
1  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...     549  38,990
2  Lenovo V15 Intel Celeron N4500 15.6" (39.62 cm...      10  23,490
3  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...     210  33,990
4  (Renewed) HP Pavilion 14 AMD Ryzen 5 5625U, 14...      35  45,598
5  Apple 2022 MacBook Air Laptop with M2 chip: 34...      22  14,899
6  (Renewed) HP Chromebook 13 G1 6th Gen Intel Co...   1,315  38,990
7  HP 15s, Intel Core i3-1115G4, 15.6 inch(39.6cm...      64  39,990
8  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...      29  20,164
9  (Renewed) DELL Latitude 5490 Core i5 7th Gen L...       5  16,990

In [59]:
driver.close()

# Solution 8: Write a python program to scrape data for Top 1000 Quotes of All Time

In [2]:
driver = webdriver.Chrome(r'C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.azquotes.com/')
time.sleep(5)

In [4]:
Top_quotes = driver.find_element(By.XPATH,'//*[@id="menu"]/div/div[3]/ul/li[5]/a')
Top_quotes.click()

In [5]:
Quote = []
Author = []
Type_Of_Quotes  = []

In [6]:
start = 0
end = 9
for page in range(start,end):
    quotes = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/ul/li[1]/div/p/a[2]')
    for i in quotes:
        titel_quotes = i.text
        Quote.append(titel_quotes)
    
for page in range(start,end):
    authors = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors:
        Author_list = i.text
        Author.append(Author_list)

for page in range(start,end):
    Type_quotes = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Type_quotes:
        All_Quotes = i.text
        Type_Of_Quotes.append(All_Quotes)
        
    Next_Butn=driver.find_element(By.XPATH,'//li[@class="next"]')
    Next_Butn.click()
    time.sleep(5)

In [7]:
print(len('Type_Of_Quotes'),len('Quote'),len('Author'))

14 5 6

In [11]:
df = pd.DataFrame()
df['Quote'] = Quote[0:5]
df['Author'] = Author[0:5]
df['Type_Of_Quotes'] = Type_Of_Quotes[0:5]
df

,Quote,Author,Type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,The essence of strategy is choosing what not t...,Golda Meir,"Inspiration, Past, Trying"
2,The essence of strategy is choosing what not t...,Theodore Roosevelt,"Country, Peace, War"
3,The essence of strategy is choosing what not t...,Nelson Mandela,"Inspirational, Motivational, Death"
4,The essence of strategy is choosing what not t...,Erma Bombeck,"4th Of July, Food, Patriotic"

In [12]:
driver.close()

# Solution 9:  Write a python program to display list of respected former Prime Ministers of India

In [2]:
driver = webdriver.Chrome(r'C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('http://www.jagranjosh.com/')

In [6]:
click_gk = driver.find_element(By.XPATH,'//*[@id="1540978020504"]/div[2]/header/div[3]/ul/li[3]/a')
click_gk.click()

In [8]:
List = driver.find_element(By.XPATH,'//*[@id="popluarGK"]/ul/li[2]/a')
List.click()

In [9]:
Name = []
Born_Dead = []
Term_of_office = []
Remark = []

In [10]:
PM_Name = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]')
for i in PM_Name:
    Name_List = i.text
    Name.append(Name_List)
    
DOB = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[3]')
for i in DOB:
    Birth_dead = i.text
    Born_Dead.append(Birth_dead)
    
Office_term = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]')
for i in Office_term:
    term = i.text
    Term_of_office.append(term)
    
all_remarks = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[2]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[5]')
for i in all_remarks:
    remarks = i.text
    Remark.append(remarks)

In [11]:
print(len('Name'),len('Born_Dead'),len('Term_of_office'),len('Remark'))

4 9 14 6

In [12]:
df = pd.DataFrame()
df['Name'] = Name
df['Born_Dead'] = Born_Dead
df['Term_of_office'] = Term_of_office
df['Remark'] = Remark
df

Empty DataFrame
Columns: [Name, Born_Dead, Term_of_office, Remark]
Index: []

In [13]:
driver.close()

# Solution 10: Write a python program to display list of 50 Most expensive cars in the world

In [14]:
driver = webdriver.Chrome(r'‪C:\Users\VK Ojha\Downloads\chromedriver_win32\chromedriver.exe')

In [15]:
driver.get('https://www.motor1.com/')

In [16]:
Drop_down = driver.find_element(By.CLASS_NAME,'m1-hamburger-button')
Drop_down.click()

In [17]:
Features_click = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
Features_click.click()

In [18]:
click_list= driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
click_list.click()

In [19]:
click_link =  driver.find_element(By.XPATH,'//*[@id="page_index_articles_browse"]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a')
click_link.click()

In [20]:
Car_Name = []
Price = []

In [21]:
name = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/h3[1]')
for i in name:
    Name_Car = i.text
    Car_Name.append(Name_Car)
time.sleep(5)
    
MRP = driver.find_elements(By.XPATH,'/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[8]/strong')
for i in MRP:
    Car_Price = i.text
    Price.append(Car_Price)
time.sleep(5)

In [22]:
print(len('Car_Name'),len('Price'))

8 5

In [23]:
df = pd.DataFrame()
df['Car_Name'] = Car_Name
df['Price'] = Price
df

        Car_Name                Price
0  De Tomaso P72  Price: $1.4 Million

In [24]:
driver.close()